canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

* {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  overflow-x: hidden;
}

main {
  color: white;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  background: rgba(220, 220, 220, 0.7);
  grid-column: 2 / span 5;
  font-size: 40px;
  padding: 32px;
  border-radius: 15px;
  margin-bottom: 350px;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

section {
  grid-column: 2 / 8;
  padding: 16px;
  background: rgba(220, 220, 220, 0.7);
  font-size: 20px;
  line-height: 1.5;
  border-radius: 15px;
  margin-bottom: 350px;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.left {
  grid-column: 6 / 12;
}